<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>CONSULTA CPF</title>
		</head>
	<body>
	<form action="/cpf_existe" method = "POST">	
		<h1>DIGITE O NUMERO DO SEU CPF</h1>
		<input type="text" id="cpf" name = "cpf" placeholder="Digite seu CPF e clique OK" />

		<input type="submit" value="OK" />
		<br />
	</form>	


	</body>
</html>